* {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#root,
.App {
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
