* {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#root,
.App {
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}


@keyframes blinking {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink{
  visibility: visible;
  animation-name: blinking;
  animation-duration: 1s;
}
