* {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#root,
.App {
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.btn_sortear{
  display:flex;
}
.btn_sortear .btn{
  margin:0 auto;
}
.btn{
  border-radius:10px;
  border:1px solid gray;
  padding:20px;
  width: 33%;
  font-weight: bold;
}