.quad {
  border: 3px outset gray;
  border-radius: 15px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6),
    -2px -2px 2px rgba(0, 0, 0, 0.8);
  margin:0.2%;
  justify-content: center;
  align-content: center;
  flex-basis: 9.5%;
  flex-grow: 0;
  flex-shrink: 0;
  
  /* BACKGROUND */
  background: #959595;
  background: -moz-linear-gradient(
    top,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 53%,
    #4e4e4e 76%,
    #383838 87%,
    #1b1b1b 100%
  );
  background: -webkit-linear-gradient(
    top,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 53%,
    #4e4e4e 76%,
    #383838 87%,
    #1b1b1b 100%
  );
  background: linear-gradient(
    to bottom,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 53%,
    #4e4e4e 76%,
    #383838 87%,
    #1b1b1b 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 );

  /* BLUR 
    color: transparent;
    text-shadow: 0 0 7px #fff;*/
}
.quad.nome {
  font-family: Arial;
  font-size: 2.8em;
  font-weight: bold;
  text-align: center;
}

.quad:before {
  content:'';
  float:left;
  padding-top:100%;
}